<!DOCTYPE html>
<html>
<head>
    <title>Request Sent</title>
    <link rel="stylesheet" href="css/styles.css">

</head>

<style>
    
    body {
        margin:0;
        min-height:95vh;
        background-image:
            linear-gradient(rgba(245, 245, 245, 0.433),
                rgba(245, 245, 245, 0.85)), url("/img/campanilla.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: #461aa0ff;
    }
</style>

<body>

<h1>Request Sent</h1>

<p>Thank you. Your request has been successfully submitted.</p>


</body>
</html>