<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hotel Senia</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

    <div class="logo">
        <img src="img/LOGO_FONDO_CLARO.svg" alt="Logo Hotel SHREG">
    </div>
    <h1>Hotel Senia</h1>

    <p>
        Room request management application.
    </p>

    <p>
        Guests can access it using the QR code available in their room.
    </p>

    <hr style="height: 1px; border-color: #17c0e2ff;">

    <a href="/peticiones">
        <button>Reception access</button>
    </a>

</body>
</html>